body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #fffaf7;
    background-image: linear-gradient(62deg, #fffaf7 0%, #ffecbb 100%);
}

header {
    background-color: #242424;
    color: #fff;
    text-align: center;
    padding: 20px;
    height: 15vh;
    background-image: url('images/anw-min.jpg.webp'),
        linear-gradient(to right, rgba(36, 36, 36, 0.5), transparent 90%);
    background-position: 99.9% 0px, 0 0;
    background-size: 20%, 100%;
    background-repeat: no-repeat;
}

header span {
    position: absolute;
    right: 190px;
    top: 0;
    height: 21vh;
    width: 10vw;
    background: rgb(36, 36, 36);
    background: linear-gradient(90deg, rgba(36, 36, 36, 1) 20%, rgba(36, 36, 36, 0) 100%);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #242424;
    color: #fff;
    height: 5vh;
}

.reviews-section {
    box-sizing: border-box;
    height: 70vh;
    background-color: #f9f9f9;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffaf7;
    background-image: linear-gradient(62deg, #fffaf7 0%, #ffecbb 100%);
}

.review-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 20px;
    padding: 20px;
    background: #242424;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80vw;
}

.review-card img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.review-content {
    flex-grow: 1;
}

.review-content h2 {
    font-size: 2rem;
    color: #fff;
    margin: 0 0 10px;
}

.review-content p {
    line-height: 1.6;
    color: #fff;
}

.review-meta {
    margin-top: 10px;
    font-size: 0.9em;
    color: #aaa;
}

.review-meta .author {
    color: #fff;
    font-weight: bold;
}

.button {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.button-container {
    display: flex;
    margin: 20px auto;
    width: fit-content;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 0 10px;
}

.button {
    outline: 0;
    border: 0;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-3px);
    background-color: #242424;
    border-radius: 10px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.hero {
    background: url('images/luffy_homeWall.jpg') no-repeat center center/cover;
    height: 450px;
    top: -130px;
    position: relative;
    color: #fff;
    text-align: center;
    z-index: -1;
    border: 2px solid #242424;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 5px #242424;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.review {
    background: #242424;
    color: #fffcf5;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px #242424;
    margin: 10px;
    padding: 15px;
    flex: 1 1 calc(30% - 20px);
}

footer {
    text-align: center;
    padding: 20px;
    background: #242424;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}